    /*===========Reset css========*/
    
    body {
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    small,
    strong,
    a,
    p {
        margin: 0;
        padding: 0;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    /*===========Header========*/
    
    .template-time-date {
        color: white;
    }
    
    .template-time-date .date,
    .time i {
        font-size: 1.1rem;
    }
    
    .template-time-date .date,
    .time span {
        font-size: .8rem;
    }
    
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 11;
    }
    
    .main-navbar {
        /* background-color: rgb(20, 19, 17); */
    }
    
    .main-navbar .navbar-brand {
        font-size: 2rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    
    .main-navbar .nav-item {
        margin-left: 30px;
    }
    
    .main-navbar .navbar-brand span {
        font-size: 1rem !important;
        font-weight: bold;
        color: gray;
    }
    
    .main-navbar .navbar-toggler:focus {
        box-shadow: none !important;
        outline: none !important;
        border: none !important;
    }
    /*--hero section---*/
    /*----social media------*/
    
    .hero-section {
        position: relative;
    }
    
    .social-media {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 50px;
        height: auto;
        background: #141311;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-media ul {
        margin: 0;
        padding: 0;
    }
    
    .social-media ul li {
        margin-top: 20px;
    }
    
    .social-media ul li a {
        background: #ffffff;
        padding: .5rem;
        transition: .5s ease;
    }
    
    .social-media ul li a i {
        color: #959493;
    }
    
    .social-media ul li a:hover {
        background: #484847;
    }
    
    .social-media ul li a:hover i {
        color: red;
    }
    /* transition duration to control the speed of fade effect */
    
    .carousel-item {
        transition: transform 2.6s ease-in-out;
    }
    
    .carousel-fade .active.carousel-item-start,
    .carousel-fade .active.carousel-item-end {
        transition: opacity 0s 2.6s;
    }
    
    .hero .carousel-inner .carousel-item {
        height: 100vh;
    }
    
    .carousel-inner {
        position: relative;
    }
    
    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        background: #141311;
        width: 50px;
        height: 50px;
        z-index: 2;
    }
    
    .carousel-control-next {
        left: 70px;
        bottom: 0;
        margin: auto 0;
    }
    
    .carousel-control-prev {
        left: 15px;
        bottom: 0;
        margin: auto 0;
    }
    
    .carousel-control-next,
    .carousel-control-prev span i {
        font-size: 2rem;
    }
    
    .hero .carousel-indicators li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 20px;
    }
    
    .parallax {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: auto;
        top: 0;
        left: 0;
        z-index: 111;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
    }
    
    .div-animation-hero {
        position: absolute;
        width: fit-content;
        height: 150px;
        padding: 1rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    
    .hero-slider-caption h1 {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }
    
    .hero-slider-caption h5 {
        color: white;
        font-size: 1rem;
        font-weight: normal;
    }
    
    .hero-slider-caption button {
        padding: .2rem 1.2rem .2rem 1.2rem;
        background: #141311;
        border: none;
        color: white;
        margin-block: 1rem;
    }
    
    .carousel-item {
        position: relative;
    }
    
    .carousel-item:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: black;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 1;
        opacity: .5;
    }
    /*---------services section-----------*/
    
    .services-inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
    }
    
    .service {
        text-align: center;
        padding: 25px 10px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        background: transparent;
        transition: transform 0.5s, background 0.5s;
        z-index: 1;
    }
    
    .service svg {
        font-size: 40px;
        margin-bottom: 10px;
        color: #303ef7;
    }
    
    .service:hover svg {
        color: white;
    }
    
    .service h2 {
        font-weight: 600;
        margin-bottom: 8px;
    }
    
    .service:hover {
        background: #141311;
        color: #fff;
        transform: scale(1.05);
    }
    
    .service:hover i {
        color: #fff;
    }
    
    .section-title {
        text-align: left;
        z-index: 1;
    }
    
    .section-title .sub-title {
        font-size: 1.3rem;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .section-title .title {
        font-size: 2rem;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .our-service {
        padding: .1rem 2rem .1rem 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1rem;
        background: transparent;
        border: 1px solid #eee;
        color: rgb(0, 0, 0);
        transition: .5s ease;
    }
    
    .our-service:hover {
        background: black;
        color: white;
    }
    /*-------about us---------*/
    
    .box-shadow-one {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    
    .linear-bg-one {
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }
    
    .clip-path-one {
        position: relative;
    }
    
    .clip-path-one::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        clip-path: polygon(49% 49%, 100% 100%, 0 100%, 0 0);
        border: 1px solid #eee;
        left: 0;
        top: 0;
        position: absolute;
        background: #f5f5f5;
    }
    
    .clip-path-two {
        position: relative;
    }
    
    .clip-path-two::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        clip-path: polygon(100% 0, 100% 100%, 50% 50%, 0 0);
        border: 1px solid #eee;
        left: 0;
        top: 0;
        position: absolute;
        background: #f5f5f5;
    }
    /*-----about us------*/